<!-- <mat-toolbar color="" class="header">
  <span>Chatbot</span>
  <div class="paddingNav"></div>
  <div class="tools">

    <a mat-button>Home</a>
    <a mat-button>Chat</a>
  </div>

</mat-toolbar> -->
<!-- <div class="container headerCls"> -->
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <!-- <h1>Chatbot</h1> -->

  <!-- <button mat-icon-button class="example-icon favorite-icon">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>


  </button> -->

<!-- </div> -->
<header>
  <nav class="navbar sticky-top navbar-expand-lg bg-#f5757b headerCls">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Chatbot</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled">Dummy</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>