<!-- <div class=" chatbox">
  <!-- <form class="example-form">
    <div class="typeBoxContainer">
      <mat-form-field class="example-full-width" appearance="fill" class="type ">
        <input matInput #message placeholder="Type here..." class="inputBox">
      </mat-form-field>
    </div>
  </form> -->
<!-- <div >
    <input type="text" #box class="textbox" placeholder="Type here..." (keydown.enter)="typeEnter(box.value)">
    <img class ="container" src="{{url}}" alt="not here" class="send" (click)="sendClick()">
  </div>
</div> -->
<div class="container-md main">
  <div class="row">
    <div class="col">
      <h1></h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Brought to you by...</h1>
      <img class="img-fluid" src="https://icoverinsure.com/images/logodark.png" alt="Icover">
      <h1><p>iCover's algorithmic underwriting helps insurers sell to the middle market.
        Leveraging data and predictive analytics iCover can assess, price, and
        deliver life insurance to your customers in 5 minutes.
      </p></h1>
      <h2><p>Click here to
        <a href="https://icoverinsure.com/">learn more...</a>
      </p></h2>
    </div>
    <div class="col">
      
      <div class="container-md text-center border1">
        <div class="row name">
          <div class="col-2">
            <img class="image img-fluid" src="https://cdn-icons-png.flaticon.com/512/4233/4233830.png" alt="chatbot">
          </div>
          <div class="col-8 align-items-center ">
            <a href="https://icoverinsure.com/">
              <img class="logo img-fluid" src="https://icoverinsure.com/images/logodark.png" alt="Icover">
            </a>
          </div>
          <div class="col-2">
            <img class="call img-fluid" src="https://cdn-icons-png.flaticon.com/128/152/152851.png" alt="call">
          </div>
        </div>
        <div class="row chat">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt architecto, dolore aspernatur harum recusandae accusamus vitae minus corporis perspiciatis quam ratione illo hic dignissimos cupiditate enim explicabo iure atque minima?</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt architecto, dolore aspernatur harum recusandae accusamus vitae minus corporis perspiciatis quam ratione illo hic dignissimos cupiditate enim explicabo iure atque minima?</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt architecto, dolore aspernatur harum recusandae accusamus vitae minus corporis perspiciatis quam ratione illo hic dignissimos cupiditate enim explicabo iure atque minima?</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt architecto, dolore aspernatur harum recusandae accusamus vitae minus corporis perspiciatis quam ratione illo hic dignissimos cupiditate enim explicabo iure atque minima?</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt architecto, dolore aspernatur harum recusandae accusamus vitae minus corporis perspiciatis quam ratione illo hic dignissimos cupiditate enim explicabo iure atque minima?</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt architecto, dolore aspernatur harum recusandae accusamus vitae minus corporis perspiciatis quam ratione illo hic dignissimos cupiditate enim explicabo iure atque minima?</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt architecto, dolore aspernatur harum recusandae accusamus vitae minus corporis perspiciatis quam ratione illo hic dignissimos cupiditate enim explicabo iure atque minima?</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt architecto, dolore aspernatur harum recusandae accusamus vitae minus corporis perspiciatis quam ratione illo hic dignissimos cupiditate enim explicabo iure atque minima?</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt architecto, dolore aspernatur harum recusandae accusamus vitae minus corporis perspiciatis quam ratione illo hic dignissimos cupiditate enim explicabo iure atque minima?</p>
          
        </div>
        <div class="row ">
          <div class="container-md">
            <div class="row">
              <div class="col-10">
                <div >
                  <input type="text" #box class="textbox" placeholder="Type here..." (keydown.enter)="typeEnter(box.value)">
                </div>
              </div>
              <div class="col-2">
                <img class="img-fluid"
                  src="/assets/send.png"
                  alt="not here" class="send img-fluid" (click)="sendClick(box.value)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>